.DS_Store
node_modules
/build
/.svelte-kit
/.firebase
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.firebaserc
firebase-debug.log
lehman-realty-firebase-adminsdk-41bes-ca46611d63.json
npm-debug.log

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
